<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>minuserinfo</name>
            <displayName><![CDATA[Mini-User info block]]></displayName>
            <version><![CDATA[0.1]]></version>
            <description><![CDATA[Adds a mini-block that displays information about the customer.]]></description>
            <author><![CDATA[Welcome Stranger]]></author>
            <tab><![CDATA[front_office_features]]></tab>
            <is_configurable>0</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>