<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>headerImage</name>
            <displayName><![CDATA[Header Image]]></displayName>
            <version><![CDATA[0.1]]></version>
            <description><![CDATA[Adds the header image as a module so it can be more easily moved]]></description>
            <author><![CDATA[Welcome Stranger]]></author>
            <tab><![CDATA[front_office_features]]></tab>
            <is_configurable>0</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>