<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>productstatushandler</name>
            <displayName><![CDATA[Product Status Handler]]></displayName>
            <version><![CDATA[0.1]]></version>
            <description><![CDATA[A custom handler which controls hooks into the product status]]></description>
            <author><![CDATA[Welcome Stranger]]></author>
            <tab><![CDATA[back_office_features]]></tab>
            <is_configurable>0</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>